.card-container{
        background: #fff;
    font-family: "Montserrat", sans-serif;
    border-radius: 8px;
    border: 1px solid #ccc;
    // margin: 10px 0px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.22);
    padding: 10px;
    
}
.h-100{
    height: 100%;
}
.company-logo{
    max-width: 110px;
    max-height: 70px;
}
.details-header{
        color: #003466 !important;
    font-weight: 600;
    font-size: 15px;
}
.details-container{
    padding: 10px;
}
.details-label{
    color: #1f2428;
    font-size: 14px;
    font-weight: 700;
}
.details-value{
    color: #333;
    font-size: 14px;
}
    ::ng-deep .mat-dialog-container{

    width: 650px !important;
    height: 400px !important;
    padding: 0px  !important;

    }
    ::ng-deep .mat-dialog-title{

   padding:20px 25px!important;
   font-size: 15px;
   font-weight: bold;
   background-color: #0d6efd;
   color: white;

    }
    ::ng-deep .mat-dialog-content{

   padding: 20px 25px !important;
        margin:0px !important;

    }
    ::ng-deep .mat-dialog-actions{

   padding: 20px 25px !important;
        margin:0px !important;

    }
    .share-dialog{
    ::ng-deep .mat-form-field-flex>.mat-form-field-infix {
        padding: 0.4em 0px !important;
    }

    ::ng-deep .mat-form-field-label-wrapper {
        top: -1.5em;
    }

    ::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
        transform: translateY(-1.1em) scale(.75);
        width: 133.33333%;
    }

    ::ng-deep .mat-input-element {
        font-size: 14px;
    }
}
.share-icon{
    color:#0dcaf0;
}
.share-btn:hover{
    .share-icon{
        color:black;
    }
   
}