<div class="container" style="background: #fff;">
  <div class="container" fxFlexLayout="row">
    <div *ngIf="showPremiumdata" fxFlex="15">
      <img src="assets/listing/company_logo/{{COMPANY_LOGO}}">
    </div>
    <div fxFlex="75" fxFlex.xs="100">
      <span class="name-comp">{{COMPANY_NAME}}</span>
    </div>
    <div fxFlex="10" style="text-align:right;">
      <mat-icon>print</mat-icon>
    </div>
  </div>
  <div class="container">
    <!-- <small class="thanks">Thanks For Your Payment! Your Policy is Created</small> -->
    <small>{{skvp_message}}</small><br>
    <small>Dear {{OWNER_NAME}},</small>
    <p *ngIf="paymentStatus==1"> Your {{COMPANY_NAME}} Term Policy request has been generated successfully.</p>
    <p *ngIf="paymentStatus!=1"> Your {{COMPANY_NAME}} Term Policy request has been failed.</p>
    <h4 class="d-flex justify-content-between align-items-center mt-3"></h4>
    <div style="background: #fff; width:100%;">
      <ul class="list-group mb-3">
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Order No</h6>
          </div><span class="text-muted" *ngIf="proposalNo!='null'">{{proposalNo}}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Transcation No</h6>
          </div><span class="text-muted">{{transactionNo}}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Payment Method</h6>
          </div><span class="text-muted">{{paymentMethod}}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between bg-light">
          <div class="text-success">
            <h6 class="my-0" style="color: green; font-size:18px;">Transaction Amount</h6>
          </div>
          <span class="text-success"
            style="color: green;font-size:18px;">{{TOTAL_PREMIUM | currency:'Rs.' : 'symbol' : '1.0'}}</span>
        </li>
      </ul>
    </div> 
    <!-- <ng-template #other_content> -->
    <div class="document_upload" *ngIf="documentDiv && paymentStatus==1" >
      <form [formGroup]="policyDcoumentForm">
        <div fxLayout.xs="column">
          <div fxFlex="33" fxFlex.xs="100" style="padding-top:7px;">
            <label>1. Previous policy copy</label>
            <input formControlName="doc1" type="file" name="doc1" (change)="uploadPrevPolicycopy($event.target.files)"
              required />
          </div>
          <div fxFlex="33" fxFlex.xs="100" style="padding-top:7px;">
            <label>2. RC copy front</label>
            <input formControlName="doc2" type="file" name="doc2" (change)="uploadRCcopyFront($event.target.files)"
              required />
          </div>
          <div fxFlex="33" fxFlex.xs="100" style="padding-top:7px;">
            <label>3. RC copy back</label>
            <input formControlName="doc3" type="file" name="doc3" (change)="uploadRCcopyBack($event.target.files)"
              required />
          </div>
        </div>
        <div *ngIf="!loading" fxLayout="column" style="margin-top: 15px;">
          <button [ngClass]="{'pay-btn': this.policyDcoumentForm.invalid}" [disabled]="this.policyDcoumentForm.invalid"
            (click)="openDialog(confirmUpload)" mat-button class="contact100-form-btn" type="submit">Upload</button>
        </div>
        <div style="padding-top:10px">
          <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
        </div>
      </form>
    </div>
    <!-- </ng-template> -->
    <p style="padding:15px;">
      Call us on 033-66044788 for any assistance on your policy and we will be happy to help
      more than 4 million policies issued and over 1 million claims settled annually
    </p>
  </div>
  <div class="container" id="icon" fxFlexLayout="row">
    <div fxFlex="33">
      <img src="assets/quote/img/travel.jpg" alt="logo" height="44">
      <a style="text-decoration:none" href="https://www.gibl.in/travel-insurance/">
        <span> Travel Insurance</span>
      </a>
    </div>
    <div fxFlex="33">
      <img src="assets/quote/img/heath.jpg" alt="logo" height="44">
      <a style="text-decoration:none" href="https://www.gibl.in/health-insurance/">
        <span>Health Insurance</span>
      </a>
    </div>
    <div fxFlex="33">
      <img src="assets/quote/img/home.jpg" alt="logo" height="44">
      <a style="text-decoration:none" href="https://www.gibl.in/personal-accident-insurance/">
        <span>PA Insurance</span>
      </a>
    </div>
  </div>
  <div style="background: #fff; width:100%;">
  </div>
</div>
<ng-template #confirmUpload>
  <div mat-dialog-content>
    <p>Are you confirm?</p>
  </div>
  <button mat-raised-button color="warn" (click)="uploadPolicyDocSubmit()">Yes</button>&nbsp;&nbsp;
  <button mat-raised-button color="warn" (click)="onNoClick()">No</button>
</ng-template>