mat-cell:first-of-type, mat-footer-cell:first-of-type, mat-header-cell:first-of-type {
    padding-left:14px;
}
mat-cell:last-of-type, mat-footer-cell:last-of-type, mat-header-cell:last-of-type {
    padding-right: 0px;
}
.container {
    max-width: 1200px;
    margin: auto;
}

.container{
    min-height: 100%;
    width: 100%;
}
mat-cell:first-of-type, mat-footer-cell:first-of-type, mat-header-cell:first-of-type {
    padding-left: 7px;
}

.mat-header-cell {
    font-size: 14px;
    font-weight: bold;
    color: #ffffff !important;font-family: 'Avenir-Book';
}
.mat-row:nth-child(even){
    background-color:#caf9e2;
    }

.mat-row:nth-child(odd){
    background-color:#fff;
    }

    .mat-footer-row, mat-header-row, mat-row{ background:#264ca2; color:#fff;}
    @media(max-width:992px){
        .mat-header-cell {
            font-size: 11px;
            font-weight: normal;
            color: #ffffff !important;font-family: 'Avenir-Book';
        }
       
    }
.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

.mat-card-content{
    font-size: 15px !important;
    line-height:  1.7em !important;
}

::ng-deep .mat-horizontal-content-container{min-height:523px;}
::ng-deep .mat-horizontal-content-container {
    overflow: hidden;
    padding: 0 24px 24px 24px;
}
p{font-size: 15px !important;}
@media(min-width:992px){

    .continue{margin:25px auto !important;}
    .mat-card-title h2{ font-size: 18px !important;}
}
