

body {
    margin: 0;
    padding: 0;
    background: url(../term-life-bg.jpg) #fff !important;
    color: #00008b;
    font-size: 18px;
    font-family: 'Avenir-Book';background-repeat: no-repeat;
    background-size: contain;
}