.custom-dropdown {
  position: relative;
  display: inline-block;
 
}


.dropdown-btn {
font-family: "Montserrat", sans-serif;
    position: relative;
    padding: 5px 10px;
    border-radius: 20px;
    margin-left: 5px;
    font-size: 14px;
    text-decoration: underline;
    color: black;
    background: linear-gradient(to right, #CF0019 0%, #CF0019 100%);
    background-size: 0% 100%;
    background-repeat: no-repeat;
    transition: background-size 0.4s ease, color 0.3s ease;
}
.dropdown-btn:hover {
  background-size: 100% 100%; /* fill from left to right */
    color: white;
    text-decoration: none !important;
    cursor: pointer;

}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.15);
  border-radius: 6px;
  z-index: 1;
}

.dropdown-content a {
  color: #333;
  padding: 10px 15px;
  text-decoration: none !important;
  display: block;
  font-size: 14px;
  transition: background 0.2s;
}

.dropdown-content a:hover {
 color:#fff !important;
        background-color: #FC5846 !important;
        cursor: pointer;
}

.custom-dropdown:hover .dropdown-content {
  display: block;
}

.brand-logo{
    @media only screen and (max-width:413px) {
        width: 50px;
    }
}
.logo-title{
    font-size: 18px !important;
    text-decoration: none !important;
}
.between-line{
        border-left: 1px solid #D9D9D9;
    height: 46px;
    margin: 0 15px;
}
.site-navbar{
    .navbar-menu{
        a{
        text-decoration: underline;
    }
   .nav-item {
     font-family: "Montserrat", sans-serif;
    position: relative;
    padding: 5px 10px;
    border-radius: 20px;
    margin-left: 5px;
    font-size: 14px;
    text-decoration: underline;
    color: black;
    background: linear-gradient(to right, #CF0019 0%, #CF0019 100%);
    background-size: 0% 100%;
    background-repeat: no-repeat;
    transition: background-size 0.4s ease, color 0.3s ease;
  }

  .nav-item:hover {
    background-size: 100% 100%; /* fill from left to right */
    color: white;
    text-decoration: none;
  }
    }
    
}
a.mat-menu-item {
    line-height: 30px !important;
    height: 30px !important;
    &:hover {
        color:#fff !important;
        background-color: #FC5846 !important;
    }
}
.title{ 
    font-family: "Avenir-Book" !important;     
    padding: 21px 15px;
    font-size: 17px;
}
// .mat-toolbar{
//     color:#fff;
// }
.pinc img{width:150px; height: 27px; margin-top:21px;}