
mat-form-field{width:100% !important;}
.main-heading{
        font-weight: 500;
        max-width: 360px;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    display: inline-flex;
    line-height: 1;
    font-size: 30px;
    letter-spacing: 1px;
    padding: 3px 4px 3px 0px;
    border-right: 4px solid rgb(255, 255, 255);
    overflow: hidden;
    white-space: nowrap;
    animation: 4s steps(30) 0s infinite normal none running typing, 0.75s step-end 0s infinite normal none running blink-caret;
}
@keyframes typing {
  0% {
    width: 0;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}
.content-holder{
    border-radius: 22px;
    background: rgb(255, 255, 255);
    padding: 11px;
    box-shadow: rgb(204, 204, 204) 0px 2px 4px 0px;
}

p{
    margin: 5px 0;
    font-size: 14px;
}
#quote .material-icons{
    position: relative;
    top:12px;
    margin-right: 9px;
    color: #0ed09b;
}
.contact100-form-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    height:40px;
    background-color: #ff3300;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    border: 0;
    margin: auto;
    transition: all 0.4s;
    font-family: "Avenir-Book" !important;
    border-radius: 2px;
}
.age .material-icons{
    position: relative !important;
    margin-left: 164px;
    margin-top: -36px;
    float: left;
    top: 0 !important;
    font-size: 18px;
}
@media(max-width:599px){
    .mat-step-label{font-size: 14px !important;}
    #quote{
        width: 100% !important;
        max-width: 100% !important;
    }
    h1{font-size: 14px;}
}
@media (max-width:991px){
    #quote .material-icons {
        position: relative;
        top: 8px !important;
        margin-right: 9px;
        color: #0ed09b;
        display: none !important;
    }
}
.back{
    position:relative !important;
    top: 4px !important;
    color: #5298d8!important;
    font-size: 14px!important; 
    margin-right: 0 !important;
}
.forward{
    position:relative !important;
    top: 4px !important;
    color: #fff!important;
    font-size: 14px!important; 
    margin-right: 0 !important;
}
.mat-step-label-selected {
    font-size: 18px !important;
}
.text-uppercase{
    text-transform: uppercase;
}
.wrap-contact101{
  padding: 10px 20px!important; 
  background: #fff;  
}
table {
  width: 100%;
}
table th {
  font-weight: bold;
  font-size: small;
}
table td {
  font-size: small;
}
.mat-cell, .mat-footer-cell {
    font-size: 10px;
}
.suffix-field-txt {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 12px;
    height:40px;
    background-color: #EFEFEF;
    font-size: 16px;
    border-radius: 8px;
    transition: all 0.4s;
   /*  color: #000000;
    line-height: 1.2;
    border: 0;
    margin: auto;    
    font-family: "Avenir-Book" !important;*/
}